* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      
    line-height: 1.5; /* Mejora la legibilidad */
    color: #333; /* Texto oscuro para contraste */
    background-color: #f9f9f9; /* Fondo claro */
}

.container {
    /* max-width: 100%; Ancho máximo */
    margin: 0 auto; /* Centrado horizontal */
    padding: 0; /* Espacio lateral */
}

.header__cotainer{
    background-color: rgba(83, 0, 200, 1);
    position: relative;
}

.nav_container,.footer__element{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: "Press Start 2P", system-ui;
    color: rgba(229, 229, 229, 1);
}   

.div__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_title{
    font-family: "Press Start 2P", system-ui ;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center ;
}

/* ---------- Form Section ------------- */
.form__container{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    padding: 40px;
}

.form__container--inputs{
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 8px;
    
}

input[type=text]{
    padding: 10px 20px;
    /* display: inline-block; */
    border: 3px solid rgba(3, 49, 140, 1);
    border-radius: 30px;
    /* box-sizing: border-box; */
    font-size: 16px;
    font-weight: 600;
    font-style:normal;
    
}
input::-webkit-input-placeholder { /* Chrome, Safari, Edge */
    color: rgba(3, 49, 140, 1);
    font-family:  "IBM Plex Mono", monospace ;
}
.text{
    color: rgba(3, 49, 140, 1);
    font-family:  "IBM Plex Mono", monospace ;
    font-size: 16px;
    font-weight: 600;
    font-style:normal;
}

input[type=submit]{
    padding: 10px 30px;
    display: inline-block;
    border: 3px solid rgba(3, 49, 140, 1);
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 20px;
    font-family:  "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style:normal;
    
}

.submit__send{
    background-color: rgba(3, 49, 140, 1);
    color: rgba(229, 229, 229, 1);
}

.submit__clean{
    background-color: rgb(242, 244, 248);
    color: rgba(3, 49, 140, 1);
}
/* ---------- Products Section ------------- */

.products__container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 30px;
    width: 80%;
    
}

.products__container--catalogo{
    /* border-style: outset; */
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;    
    scroll-snap-type: x mandatory;
    
}

.products__container--catalogo::-webkit-scrollbar {
    height: 8px; /* Altura del scrollbar horizontal */
}

.products__container--catalogo::-webkit-scrollbar-thumb {
    background-color:rgba(214, 214, 214, 1); /* Color del indicador */
    border-radius: 15px; /* Bordes redondeados */
}

.prducts__card{
    background-color: rgba(93, 4, 217, 1) ;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.432);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgba(229, 229, 229, 1);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
}

.prducts__card--element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(229, 229, 229, 1);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

/* ---------- Footer Section ------------- */
.footer{
    background-color: rgba(83, 0, 200, 1);
    position: relative;
    color: rgba(229, 229, 229, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__name1{
    font-family: "IBM Plex Mono", monospace ;
    font-weight: 400;
    font-style:normal;
}

.footer__name2{
    font-family: "IBM Plex Mono", monospace ;
    font-weight: 200;
    font-style:normal;
}

